
services:
  identity-service:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    # Comments in English: Start the application with hot-reload enabled
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - WATCHPACK_POLLING=true
      # This points to the service name 'db' below
      - DATABASE_URL=postgresql+asyncpg://user:password@db:5432/identity_db
      - JWT_SECRET_KEY=super-secret-jwt-key-change-in-production-123
      - JWT_ALGORITHM=HS256
    depends_on:
      db:
        condition: service_healthy # Wait for DB to be fully ready before starting app

  db:
    image: postgres:15-alpine # Alpine is smaller and faster
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=identity_db
    ports:
      - "5433:5432" # This is your "Window" from pgAdmin to the DB
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persistence: data stays even if container is deleted
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d identity_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: # Define the volume for data persistence
